@media all and (max-width: 1000px) {
    .top-wrapper h1 {
        font-size: 32px;
    }
}

@media all and (max-width: 670px) {
    .header-right {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .top-wrapper h1 {
        font-size: 24px;
        text-align: left;
        line-height: 36px;
    }
    
    .container {
        width: 100%;
        
    .top-wrapper p {
        font-size: 14px;
        text-align: left;
        line-height: 20px;
    }
    
    .pick {
        width : 100%;
    }
    
    .pick-icon {
        display: block;
    }
}
